<div class="p-5">
    <div class="header-container mb-5 align-items-center">
        <h1>Administración de Permisos</h1>
    </div>

    <div class="row align-items-center mb-3 p-fluid">
        <div class="col-md-1 text-end">
          <label for="Roles" class="fw-bold">Roles</label>
        </div>
        <div class="col-md-3 p-fluid">
          <p-dropdown
            [(ngModel)]="selectedRol"
            [options]="roles"
            [loading]="isLoadingRoles"
            optionLabel="nombre"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            id="rol"
            class="w-100"
            (onChange)="onRolChange($event)"
            placeholder="Seleccione">
          </p-dropdown>
        </div>
    </div>
  
    <p-table 
        [value]="pages" 
        [paginator]="true" 
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [rowsPerPageOptions]="[5,10,20,50]"
        styleClass="custom-table">
        
    <ng-template pTemplate="header">
      <tr class="custom-header">
        <th>Menú</th>
        <th>Menú Padre</th>
        <th>Modulo</th>
        <th class="text-center" style="width: 130px;">Consultar</th>
        <th class="text-center" style="width: 120px;">Crear</th>
        <th class="text-center" style="width: 120px;">Editar</th>
        <th class="text-center" style="width: 120px;">Eliminar</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-page let-rowIndex="rowIndex">
      <tr class="custom-row">
        <td>{{page.nombreMenu}}</td>
        <td>{{page.nombreMenuPadre}}</td>
        <td>{{page.nombreModulo}}</td>
        <td class="text-center">
          <p-checkbox 
            [binary]="true" 
            [(ngModel)]="page.consultar"
            (onChange)="onPermisoChange(page, 'consultar')">
          </p-checkbox>
        </td>
        <td class="text-center">
          <p-checkbox 
            [binary]="true" 
            [(ngModel)]="page.crear"
            (onChange)="onPermisoChange(page, 'crear')">
          </p-checkbox>
        </td>
        <td class="text-center">
          <p-checkbox 
            [binary]="true" 
            [(ngModel)]="page.editar"
            (onChange)="onPermisoChange(page, 'editar')">
          </p-checkbox>
        </td>
        <td class="text-center">
          <p-checkbox 
            [binary]="true" 
            [(ngModel)]="page.eliminar"
            (onChange)="onPermisoChange(page, 'eliminar')">
          </p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast />
