<div class="p-3">
    <div class="row">
      <div class="col-12">
        <app-steps [stepsCount]="5" [activeIndex]="2" />
      </div>
    </div>
    <div class="header-container mb-2 align-items-center">
        <h1>Administración de Documentos</h1>
        <button (click)="agregar()" class="btn button-success btn-lg add-button" type="button">
            <i class="pi pi-plus"></i> Agregar
        </button>
    </div>

    <div class="row mb-3 align-items-center">
      <div class="col-auto">
        Página:
      </div>
      <div class="col-auto d-flex align-items-center">
        <h2 class="mb-0">{{ tituloPagina }}</h2>
      </div>
    </div>
      
    <p-table 
        [value]="pages" 
        [paginator]="true" 
        [rows]="rowsPerPage"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [rowsPerPageOptions]="[5,10,20,50]"
        styleClass="custom-table">
        
    <ng-template pTemplate="header">
      <tr class="custom-header">
        <th style="width: 200px;">Código</th>
        <th>Nombre</th>
        <th class="text-center" style="width: 200px;">Acciones</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-page>
      <tr class="custom-row">
        <td>{{page.codigo}}</td>
        <td>{{page.nombre}}</td>
        <td>
          <div style="display: flex; justify-content: center; align-items: center; gap: 0.5rem;">
            <i 
              class="pi pi-chevron-up action-icon text-warning fw-bold" 
              (click)="cambiarOrden(page.id, 'up')" 
              pTooltip="Subir" 
              tooltipPosition="top"
              [ngClass]="{'disabled-icon': pages[0].id === page.id}"
              [style.pointerEvents]="pages[0].id === page.id ? 'none' : 'auto'"
              [style.opacity]="pages[0].id === page.id ? 0.5 : 1"
            ></i>
            <i 
              class="pi pi-chevron-down action-icon text-warning fw-bold" 
              (click)="cambiarOrden(page.id, 'down')" 
              pTooltip="Bajar" 
              tooltipPosition="top"
              [ngClass]="{'disabled-icon': pages[pages.length - 1].id === page.id}"
              [style.pointerEvents]="pages[pages.length - 1].id === page.id ? 'none' : 'auto'"
              [style.opacity]="pages[pages.length - 1].id === page.id ? 0.5 : 1"
            ></i>

            <i class="pi pi-trash action-icon delete-icon" 
              (click)="confirmDelete($event, page.id)" 
              pTooltip="Eliminar" 
              tooltipPosition="top"></i>

            <i class="pi pi-download action-icon download-icon" pTooltip="Descargar" tooltipPosition="top" (click)="download(page.id)" ></i>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="row">
    <div class="col-12 text-center">
      <button (click)="anterior()" class="btn button-secondary btn-lg add-button text-white me-2" type="button">
        <i class="pi pi-chevron-left"></i> Anterior
      </button>
      <button (click)="continuar()" class="btn button-success btn-lg add-button" type="button">
        <i class="pi pi-chevron-right"></i> Continuar
      </button>
    </div>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [closable]="true" header="Agregar Documento" [style]="{ width: '500px' }">
  <div class="row mb-3 align-items-center">
    <div class="col-3">
      <label class="form-label fw-bold mb-0" for="codigo">Código</label>
    </div>
    <div class="col-9">
      <input pInputText type="text" id="codigo" [(ngModel)]="formulario.codigo" class="w-100" />
      <div *ngIf="submitted && (formulario.codigo === '')" class="text-danger">
          Campo requerido
      </div>
    </div>
  </div>

  <div class="row mb-3 align-items-center">
    <div class="col-3">
      <label class="form-label fw-bold mb-0" for="nombre">Nombre</label>
    </div>
    <div class="col-9">
      <input pInputText type="text" id="nombre" [(ngModel)]="formulario.nombre" class="w-100" />
      <div *ngIf="submitted && (formulario.nombre === '')" class="text-danger">
          Campo requerido
      </div>
    </div>
  </div>


    <div *ngIf="mensajeError" class="mensaje-error text-center mb-2">
        {{ mensajeError }}
    </div>

    <div *ngIf="nombre" class="nombre-imagen text-center mb-2">
        {{ nombre }}
    </div>
    
    <div class="card-contenedor">
        <div class="archivo-section">
            <label class="btn-archivo">
                <i class="pi pi-folder-open"></i> Seleccione archivo
                <input id="archivo" type="file" (change)="onArchivoSeleccionado($event)" #fileInput style="display: none;" accept=".pdf, .doc, .docx, .xls, .xlsx, .jpg, .jpeg" />
            </label>

            <button class="btn-subir" (click)="onSubmit()">
                <i class="pi pi-upload"></i> Subir archivo
            </button>
        </div>
    </div>
    <div *ngIf="submitted && !formulario.archivo" class="text-danger">
      Campo requerido
    </div>
</p-dialog>

<p-toast />

<app-msg-box
  [visible]="visible"
  [msgTexto]="msg"
  [msgTipo]="MsgTipo.Question"
  [msgBotones]="MsgBotones.EliminarCancelar"
  [width]="'25vw'"
  (close)="onHide($event)">

