<div class="row" *ngIf="verMenu">
  <h3>
    Tipo de Intento
  </h3>
  <div class="col-md-12">
    <a (click) = "intentoFallido()" ><img src = "/iconos/intento_fallido.svg" alt="Intento Fallido"/></a>
  </div>
  <div class="col-md-12">
    <a (click) = "intentoExitoso()"><img src = "/iconos/intento_exitoso.svg"  alt="Intento Exitoso"/> </a>
  </div>
</div>

<div class="row" *ngIf="verFormularioFallido">
  <h3>
    <b>Intento fallido</b>
  </h3>
  <br><br>
  <form [formGroup]="formFallido" (ngSubmit)="guardarFallido()">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:left">
        {{NNaCargado.primerNombre}}
        {{NNaCargado.segundoNombre}}
        {{NNaCargado.primerApellido}}
        {{NNaCargado.segundoApellido}}
        - Seguimiento No. {{totalSeguimientos.seguimientosRealizados}}
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="text-align:left">
        <label for="TipoFallaIntentoId"><h5>Tipo de falla en la llamada</h5></label>
        <select id="TipoFallaIntentoId" class="form-select" formControlName="TipoFallaIntentoId">
          <option value="" disabled selected>Seleccione...</option>
          <option *ngFor="let doc of tiposFallas" [value]="doc.id">{{ doc.nombre }}</option>
        </select>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <a (click) = "regresar()" ><img src = "/iconos/cancelar.svg" alt="Cancelar"/></a>
      </div>
      <div class="col-md-4">
        <a (click) = "guardarFallido()" ><img src = "/iconos/guardar.svg" alt="Guardar"/></a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>
</div>


