<br>

<div class="row container-fluid" *ngIf="opcion_1">
  <div class="col-6">
    <div class="tajetaBlanca">
      <p class="titulo">Contacto</p>
      <br>
      <div class="row">
        <div class="col-6">
          <b>Nombre: </b>
        </div>
        <div class="col-6">
          {{ContactoNNA.nombres}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <b>Parentesco: </b>
        </div>
        <div class="col-6">
          {{getNombreParentesco(ContactoNNA.parentescoId)}}
        </div>
      </div>
      <hr>
      <div class="row" >
        <div class="col-5">
          <b>¿Se encuentra?</b>
        </div>
        <div class="col-7">
          <div class="row" style="padding-bottom:10px">
            <div class="col-2">
              <a (click) = operarOpcion2()><img src="iconos/intento-exitoso-opc1.svg" alt="opcion" /></a>
            </div>
            <div class="col-10" style="text-align: left; padding-left: 20px">
              <a (click) = iniciarSeguimiento()><img src="iconos/intento-exitoso-opc2.svg" alt="opcion"  /></a>
            </div>
          </div>

          <div class="row" style="padding-bottom:10px">
            <div class="col-12">
              <a (click) = operarOpcion3()><img src="iconos/intento-exitoso-opc3.svg" alt="opcion" /></a>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <a (click) = operarOpcion4()><img src="iconos/intento-exitoso-opc4.svg" alt="opcion" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="tajetaClara">
      <img src="iconos/icono-intentoExitoso.svg" alt="icono"/>
      <br><br>
      <span class="parrafo">
        <b>Buenos días</b>, mi nombre es NOMBRE_USUARIO estoy llamando del Ministerio de Salud y Protección Social.
        Estoy buscando al padre, madre o acudiente de
        <b>{{NNA.primerNombre}} {{NNA.segundoNombre}} {{NNA.primerApellido}} {{NNA.segundoApellido}}</b>, dado que desde el Ministerio se realiza seguimiento de los niños y niñas que están en proceso de diagnóstico
        o ya se encuentran diagnosticados con leucemia en todo el país, con la finalidad de que el menor tenga un tratamiento integral y oportuno,
        en el marco del cumplimiento de la Ley 1388 de 2010, Resolución 2590 de 2012 y la ley 2026 del 2020 “Ley Jacobo”.
        </span>
    </div>
  </div>
</div>

<form [formGroup]="formGroup2" *ngIf="opcion_2" >
  <div class="row container-fluid" >
    <div class="col-6">
      <div class="tajetaBlanca">
        <p class="titulo">Programar nuevo intento</p>
        <br>
        <div class="row">
          <div class="col-4">
            <img src="iconos/cruz.png" alt="cruz" style="position:absolute"/>
            <a><img src="iconos/intento_exitoso_nuevo_contacto.svg" alt="dia" (click)="nuevoContacto()"></a>




          </div>
          <div class="col-4">
            <img src="iconos/cruz.png" alt="cruz" style="position:absolute"/>
            <a><img src="iconos/intento_exitoso_agregar_telefono.svg" alt="dia"></a>

          </div>
          <div class="col-4"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">
            <b>Fecha</b>
          </div>
          <div class="col-4">
            <p-calendar
              inputId="calendar-12h"
              formControlName = "FechaIntento"
              [showTime]="true"
              dateFormat="yy-mm-dd"
              hourFormat="12"
              [minDate]="fechaHoy" />
          </div>
          <div class="col-4">

          </div>
        </div>
        <br>
        <div class="row" style="padding-bottom: 15px">
          <div class="col-4">

          </div>
          <div class="col-2">
            <a (click) = cargarHoy(formGroup2)><img src="iconos/hoy.svg" alt="dia"></a>
          </div>
          <div class="col-2">
            <a (click) = cargarManana(formGroup2)><img src="iconos/manana.svg" alt="dia"></a>
          </div>
          <div class="col-4">

          </div>
        </div>



      </div>
    </div>
    <div class="col-6">
      <div class="tajetaClara">
        <img src="iconos/icono-intentoExitoso.svg" alt="icono"/>
        <br><br>
        <span class="parrafo">
          Agradezco mucho la atención. Si usted nos puede hacer el favor de informar dónde o cuándo ubicar la persona. Intentaremos realizar una nueva llamada.
        </span>
      </div>
    </div>

  </div>
  <hr>
  <div class="row" >
    <div class="col-12" style="text-align:center">
      <a (click) = guardarForm(formGroup2)><img src="iconos/finalizar.png" alt="finalizar" width="150px" ></a>
    </div>
  </div>
</form>




<form [formGroup]="formGroup3" *ngIf="opcion_3">
  <div class="row container-fluid" >
    <div class="col-6">
      <div class="tajetaBlanca">
        <div class="row">
          <div class="col-8">
            <p class="titulo">Programar nuevo intento</p>
          </div>
          <div class="col-4">
            <img src="iconos/cruz.png" alt="cruz" style="position:absolute"/>
            <a><img src="iconos/intento_exitoso_agregar_telefono.svg" alt="dia"></a>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-4">
            <b>Fecha</b>
          </div>
          <div class="col-4">
            <p-calendar
              inputId="calendar-12h"
               formControlName = "FechaIntento"

              [showTime]="true"
              hourFormat="12"
              [minDate]="fechaHoy"
              />
          </div>
          <div class="col-4">

          </div>
        </div>
        <br>
        <div class="row" style="padding-bottom: 15px">
          <div class="col-4">

          </div>
          <div class="col-2">
            <a (click) = cargarHoy(formGroup3)><img src="iconos/hoy.svg" alt="dia"></a>
          </div>
          <div class="col-2">
            <a (click) = cargarManana(formGroup3)><img src="iconos/manana.svg" alt="dia"></a>
          </div>
          <div class="col-4">

          </div>
        </div>



      </div>
    </div>
    <div class="col-6">
      <div class="tajetaClara">
        <img src="iconos/icono-intentoExitoso.svg" alt="icono"/>
        <br><br>
        <span class="parrafo">
          ¿A qué hora podré llamarle?
        </span>
      </div>
    </div>

  </div>

  <hr>
  <div class="row" >
    <div class="col-12" style="text-align:center">
      <a (click) = guardarForm(formGroup3)><img src="iconos/finalizar.png" alt="finalizar" width="150px"></a>
    </div>
  </div>

</form>



<form [formGroup]="formGroup4" *ngIf="opcion_4">
  <div class="row container-fluid" >
    <div class="col-6">
      <div class="tajetaBlanca">
        <div class="row">
          <div class="col-12">
            <p class="titulo">Razones de rechazo al seguimiento</p>
          </div>

        </div>

        <br>

        <div class="row" style="padding-bottom: 15px">
          <div class="col-5">
            <b>Nombre</b>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" placeholder="" formControlName="nombreRechazo" />
          </div>

        </div>

        <div class="row" style="padding-bottom: 15px">
          <div class="col-5">
            <b>Parentesco</b>
          </div>
          <div class="col-7">
            <input type="text" class="form-control" placeholder="" formControlName="parentescoRechazo" />
          </div>

        </div>

        <div class="row" style="padding-bottom: 15px">
          <div class="col-5">
            <b>Razones</b>
          </div>
          <div class="col-7">
            <textarea class="form-control" formControlName="razonesRechazo"></textarea>
          </div>

        </div>



      </div>
    </div>
    <div class="col-6">
      <div class="tajetaClara">
        <img src="iconos/icono-intentoExitoso.svg" alt="icono"/>
        <br><br>
        <span class="parrafo">
          Agradezco mucho la atención. Sin embargo, es sumamente importante dejar registrado las razones por las cuales no desea el seguimiento
          (registre las razones, nombre y parentesco de la persona que recibe la llamada) y adicionalmente indague si el menor
          está recibiendo el tratamiento adecuado.
        </span>
      </div>
    </div>



  </div>
  <hr>
  <div class="row" >
    <div class="col-12" style="text-align:center">
      <a><img src="iconos/finalizar.png" alt="finalizar" width="150px" (click)="guardarRechazo()"></a>
    </div>
  </div>

  </form>



  <p-dialog  [(visible)]="displayModalContacto" [modal]="true"  (onHide)="onModalHide()">

      <app-crear-nna-agregar-contacto [nnaFormCrearSinActivar]="nnaFormCrearSinActivar"
                        (dataToParent)="handleDataContacto($event)"></app-crear-nna-agregar-contacto>
  </p-dialog>
