<div class="p-4">
  <div class="container-fluid">

      <!-- Título -->
      <div class="row align-items-center mb-3 p-fluid">
        <div class="col-md-3">
          <label class="form-label fw-bold mb-0" for="titulo">Título</label>
        </div>
        <div class="col-md-9">
          <input pInputText type="text" id="titulo" [(ngModel)]="formulario.titulo" class="w-100" />
        </div>
      </div>

      <!-- URL -->
      <div class="row align-items-center mb-3 p-fluid">
        <div class="col-md-3">
          <label class="form-label fw-bold mb-0" for="url">URL</label>
        </div>
        <div class="col-md-9">
          <input pInputText type="text" id="url" [(ngModel)]="formulario.url" class="w-100" />
        </div>
      </div>

      <!-- Destacado -->
      <div class="row align-items-center mb-3 p-fluid">
        <div class="col-md-3">
          <label class="form-label fw-bold mb-0" for="destacado">Destacado</label>
        </div>
        <div class="col-md-9">
          <p-inputSwitch [(ngModel)]="formulario.destacado" id="destacado"></p-inputSwitch>
        </div>
      </div>

      <!-- Botones -->
      <div class="row mt-3">
        <div class="col-md-12 text-end">
          <button type="button" (click)="cancelar()" class="btn button-secondary btn-lg add-button me-2">Cancelar</button>
          <button type="button" (click)="onSubmit()" class="btn button-success btn-lg add-button">Guardar</button>
        </div>
      </div>
    </div>
</div>

<app-msg-box
  [visible]="visible"
  [msgTexto]="msg"
  [msgTipo]="MsgTipo.Success"
  [error]="error"
  [width]="'25vw'"
  (close)="onHide($event)">