<button type="button" class="btn position-fixed rounded-circle shadow-lg notification-btn" (click)="mostrarDialogo = true">
  <i class="bi bi-bell-fill"></i>
  <span *ngIf="cantidadNoLeidas > 0" class="badge bg-danger notification-badge">
    {{ cantidadNoLeidas }}
  </span>
</button>

<p-dialog
  header="Notificaciones y Alertas"
  [(visible)]="mostrarDialogo"
  [modal]="true"
  [style]="{ width: '700px' }"
  [dismissableMask]="true"
>
  <ng-container *ngIf="notificacionesOrdenadas.length > 0; else sinNotificaciones">
    <div *ngFor="let noti of notificacionesOrdenadas" 
     class="p-3 mb-3 border rounded shadow-sm"
     [ngClass]="{ 'bg-light': noti.leido, 'bg-white': !noti.leido }">

  <div class="d-flex justify-content-between">
    <h6 [ngClass]="{ 'text-muted': noti.leido }" class="fw-bold mb-1 text-break">
      {{ noti.titulo }}
    </h6>

    <button *ngIf="!noti.leido"
            class="btn btn-outline-success btn-sm d-flex align-items-center gap-1"
            (click)="marcarComoLeida(noti.id!)">
      <i *ngIf="marcando" class="spinner-border spinner-border-sm"></i>
      <i *ngIf="!marcando" class="bi bi-check"></i>
    </button>
  </div>

  <div class="mt-2 html-content-container" [innerHTML]="sanitizarHtml(noti.contenido || '')"></div>

  <div class="mt-2">
    <small class="text-muted">
      <i class="bi bi-calendar-event me-1"></i>
      {{ noti.fechaInicio| date: 'dd/MM/yyyy HH:mm' }}
    </small>
  </div>
</div>
  </ng-container>

  <ng-template #sinNotificaciones>
    <div class="text-center text-muted py-3">
      <i class="bi bi-bell-slash fs-3 d-block mb-2"></i>
      No hay notificaciones nuevas.
    </div>
  </ng-template>
</p-dialog>